<launch>
    <node pkg="turtlesim"
          type="turtlesim_node"
          name="turtle1"/>

    <node pkg="turtlesim"
          type="turtle_teleop_key"
          name="fast_runner"
          output="screen"/>

    <node pkg="rosservice"
          type="rosservice"
          name="chaser"
          args="call /spawn 0.0 0.0 0.0 chaser"/>

    <node pkg="hw1"
          type="chasing.py"
          name="chasing"
          output="screen"/>
</launch>